<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/main.css">

        <script type="importmap"> {"imports": {"three": "./build/three.module.js"}} </script>
        <script async src="js/es-module-shims.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

    </head>

<body id="container">



<div id="header"></div>
<div id="content">
    <div id="content-center">
        <div id="blocker">
            <div id="instructions">
                <p style="font-size:36px">
                    Click to move
                </p>
                <p>
                    Move: WASD<br/>
                    Look: MOUSE
                </p>
            </div>
        </div>
    </div>
    <div id="content-right">
        <div id="map"></div>
        <div id="chat">
            <div id="chat-box"> <%- include('chat-box') %> </div>
            <div id="chat-message">
                <form action="" id="sendmsg">
                    <label> <%-name%> :</label>
                    <input type="text" size="30" name="msg" id="msg">
                    <input type="submit" name="send" value="Send">   
                </form>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>

<script> 
    var name = '<%-name%>';
    let Users = JSON.parse('<%-users%>');
    let userX, userZ, userRx, userRy, userRz, userColor;
    var shared_view = false;
    let shared_username = null;
    for (var user of Users) {
        $("#header").append("<button id='"+user.nickname+"'> "+user.nickname+" </button>");
        document.getElementById(user.nickname).onclick = function() {setShared(this);};
        document.getElementById(user.nickname).style.background = user.color;
        if(user.nickname == '<%-name%>') {
                userX = user.positionX;
                userZ = user.positionZ;
                userRx = user.rotationX;
                userRy = user.rotationY;
                userRz = user.rotationZ;
                userColor = user.color;
        }
    }
    function setShared(button){
        nickname = button.id;
        if(nickname == name) {
            shared_view = false;
        } else {
            shared_view=true;
        }
        shared_username = nickname; 
    };
</script>

<script>
    var socket = io();
    socket.on('connection', function(nickname, id){
        for ( var user  of Users ) {
            if(user.nickname == nickname) {
                user.id = id;
            }
	    }
    });
    $('#sendmsg').submit(function(){
        var msg = $('#msg').val();
        var name = '<%-name%>';
        if(msg.length > 0)
            socket.emit('chat message', name, msg, userColor);
        else
            console.log("Enter a valid msg :)");
        $('#msg').val("");
        return false;
    });
    setInterval(function(){
        socket.emit('update coords', Users, socket.id, userX, userZ, userRx, userRy, userRz);
    }, 50);
    socket.on('chat message', function(name, msg, color){
        $("#chat-box").append("<div> <span style='background:"+color+"'> "+name+" </span> : "+msg+"</div>");
    });
    socket.on('update coords', function(id, X, Z, Rx, Ry, Rz){
        for (var user of Users) {
            if(user.id == id) {
                user.positionX = X;
                user.positionZ = Z;
                user.rotationX = Rx;
                user.rotationY = Ry;
                user.rotationZ = Rz;
            }
        }
    });
</script>

<script type="module" src="js/mainView.js"></script>

</body>
</html> 